.App {
  width: 100vw;
  height: 100vh;
}

.page {
  padding-bottom: 30px;
  a {
    text-decoration: none;
    color: white;
  }
  .page__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}
